/***

"Gel" Login theme for WebERP

by Hindra Joshua

***/


/* $Id: login.css 5815 2013-02-07 07:04:35Z daintree $*/
body {
background:#fff;
color:white;
font:14px "Lucida Grande","Arial","Helvetica","Verdana","sans-serif";
text-align:center;
}

img{
vertical-align:middle;
}

#container {
background:url("images/gelblue.png") repeat-x blue;
background-size:contain;
border:medium outset blue;
border-radius:15px 15px 15px 15px;
box-shadow:5px 5px 6px;
margin-left:auto;
margin-right:auto;
margin-top:50px;
width:300px;
z-index:1000;
box-shadow:5px 5px 7px black;
}

#login_logo {
background:url("../webERP.gif") no-repeat scroll center center #FFFFFF;
border:medium outset gray;
border-radius:19px 19px 19px 19px;
height:44px;
margin:10% auto;
padding:12px;
width:190px;
}

input.button{
background:none repeat scroll 0 0 transparent;
border:thick outset blue;
border-radius:15px 15px 15px 15px;
padding:10px;
vertical-align:middle;
width:50%;
box-shadow:3px 3px 4px black;	
color:white;
}

input.button:hover {
background:none repeat scroll 0 0 transparent;
border:thick inset blue;
border-radius:15px 15px 15px 15px;
padding:10px;
vertical-align:middle;
width:50%;
box-shadow:3px 3px 4px black inset;	
}

#demo_text{
padding:10px;
}