/*
 * manual.css used with the webERP manual
 * http://web-erp.sourceforge.net
 *
 */
body {
	color:#000;
	font-family:"Ubuntu", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:.85em;
	font-weight:lighter;
}

img {
	border:none;
	width:50%;
}

#pagetitle {
	background:#6BA81E;
	border-radius:5px;
	color:#066307;
	font-size:330%;
	font-weight:400;
	text-align:center;
	text-shadow:1px 1px #A9BD55;
}

h1,h2,h3,h4,h1 a,h2 a,h3 a,h4 a {
	font-weight:400;
}

h1 {
	background:#BED4EB;
	border-radius:5px;
	color:#0D1F54;
	margin:1%;
	padding:10px;
	text-shadow:1px 1px #293EF5;
}

h2 {
	background:#C8D5E3;
	border-radius:5px;
	color:#0D1F54;
	margin-left:1%;
	margin-right:1%;
	padding:8px 8px 8px 20px;
}

h3 {
	background:#E1E6EC;
	border-radius:5px;
	color:#0D1F54;
	margin-left:1%;
	margin-right:1%;
	padding:6px 6px 6px 30px;
}

h4 {
	background:#F2EFEC;
	border-radius:5px;
	color:#0D1F54;
	margin-left:1%;
	margin-right:1%;
	padding:4px 4px 4px 40px;
	/* Heading level 4 format. */
}

a {
	text-decoration:none;
}

a:hover {
	color:#03c;
}

.floatright {
	float:right;
}

.left {
	text-align:left;
}

.minitext {
	margin-right:1%;
	font-size:80%;
}

.right {
	text-align:right;
}

dl {
	margin-left:2%;
	/* Description list format. */
}

dt {
	font-weight:bold;
	/* Description list terms format. */
}

dd {
	/* Description list descriptions format. */
}

li {
	margin-left:2%;
	margin-right:2%;
}

li.toc {
	color:#03c;
}

input[type=checkbox] {
	visibility:hidden;
}

p {
	margin-left:2%;
	margin-right:2%;
}
pre {
    font-size: 1.2em;
}