/***

"SilverWolf" Login theme for WebERP

by Hindra Joshua

***/


/* $Id: login.css 5657 2012-09-10 11:32:07Z daintree $*/
body {
background:url(images/stripe.png) #fff;
color:gray;
font:14px "Lucida Grande","Arial","Helvetica","Verdana","sans-serif";
text-align:center;
}

img{
vertical-align:middle;
}

#container {
background:gainsboro;
border:thin outset gainsboro;
margin-left:auto;
margin-right:auto;
margin-top:50px;
width:300px;
z-index:1000;
}

#login_logo {
background:url("../webERP.gif") no-repeat scroll center center #FFFFFF;
border:medium outset gray;
border-radius:19px 19px 19px 19px;
height:44px;
margin:10% auto;
padding:12px;
width:190px;
}


input.button {
background:transparent;
border:thick outset silver;
border-radius:15px 15px 15px 15px;
padding:10px;
vertical-align:middle;
width:50%;
font-weight:bold;
box-shadow:3px 3px 4px black;
color:gray;
}

input.button:hover {
background:transparent;
border:thick inset silver;
border-radius:15px 15px 15px 15px;
padding:10px;
vertical-align:middle;
width:50%;
box-shadow:3px 3px 4px black inset;	
}

#demo_text{
	padding:10px;
}