/* $Id: print.css 7158 2015-02-19 23:25:13Z vvs2012 $*/
/* Print style sheet. */

@media print {

#FooterDiv, #HeaderDiv, #MainMenuDiv, .noprint, .page_title_text img, .site-description, .site-title {
	display:none;
	/* Remove unwanted elements. */
}

h1 {
	font-size: 173%;
	font-weight:bold;
	/* Heading 1. */
}

h2 {
	font-size: 144%;
	font-weight:bold;
	/* Heading 2. */
}

h3 {
	font-size: 120%;
	font-weight:bold;
	/* Heading 3. */
}

#content p {
	color:black;
}

#content img {
	display:block;
	page-break-after:avoid;
	page-break-inside:avoid;
}

#content ul, li {
	display:block;
	page-break-inside:avoid;
}

hr {
	color:black;
}

a {
	color:navy;
	text-decoration:none;
}

.centre {
	text-align:center;
	/* centre class (general). */
}

.number {
	text-align:right;
	/* number class (general). */
}

.text {
	text-align:left;
	/* number class (general). */
}

.page_title_text {
	font-weight:bold;
	font-size: 207%;
	text-align:center;
	/* Page title class. */
}

body, #CanvasDiv {
	background-image:none;
	background:white;
	border:none;
	border-radius:0;
	box-shadow:none;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11pt;
	margin:0;
	padding:0;
}

#BodyDiv {
	background-image:none;
	background:white;
	border:none;
	border-radius:0;
	box-shadow:none;
	float:none;
	margin:0;
	padding:0;
	width:100%;
	/* BodyDiv id */
}

#BodyDiv table {
	background:white;
	border:none;
	border-radius:0;
	box-shadow:none;
	padding:0;
}

#Report {
	/* Division id for reports. */
}
#Report table {
	width:100%;
	/* Expands the body of the report to use the full width of the page. */
}

}
